@using EStoreWebApp.Models;

 <form method="post" asp-controller="Auth" asp-action="Register">
    <label>Id:</label>
    <input type="text" name="Id" />
    <br />
    <label>Name:</label>
    <input type="text" name="Name" />
    <br />
    <button type="submit">Register</button>
</form>