@using EStoreWebApp.Models;

@{
    ViewData["Title"] = "Edit Page";
}

<h1>Edit Employee Details</h1>

 <form method="post" asp-controller="Employees" asp-action="Edit">
    <label>Id:</label>
    <input type="text" name="Id" value="@Model.Id" />
    <br />
    <label>Name:</label>
    <input type="text" name="Name" value="@Model.Name" />
    <br />
    <button type="submit">Register</button>
</form>
