

<h1>Customer Puruchasing Power</h1>
<hr/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

 <div class="container">
    <div class="row">
        <div class="row">
    <div class="col-sm-4" style="background-color:lavender;"><partial name="~/Views/Dashboard/Charts/Line.cshtml" /></div>
    <div class="col-sm-4" style="background-color:lavenderblush;"><partial name="~/Views/Dashboard/Charts/Bar.cshtml" /></div>
    <div class="col-sm-4" style="background-color:lavender;"><partial name="~/Views/Dashboard/Charts/Pie.cshtml" /></div>
  </div>
    </div>
</div>
 

