

<h1>Customer Profile</h1>
<hr/>

<div class="container">
    <div class="row">
        <div class="row">
    <div class="col-sm-4" style="background-color:lavender;"><partial name="~/Views/Dashboard/profiles/personal.cshtml" /></div>
    <div class="col-sm-4" style="background-color:lavenderblush;"><partial name="~/Views/Dashboard/profiles/professional.cshtml" /></div>
    <div class="col-sm-4" style="background-color:lavender;"><partial name="~/Views/Dashboard/profiles/contact.cshtml" /></div>
  </div>
    </div>
</div>
